<!DOCTYPE html>
<html>
<head>

  <title>user login</title>
  <link href="/css/log.css" rel="stylesheet">
</head>
<body>
  <div id="logo"> 
 <h1><i>Nelisa's Spaza Shop</i></h1>
</div> 
 <section class="Nelisa-login">
  
  <form action="/login" method="post">  
    <div id="fade-box">
      <input type="text" name="username" id="username" placeholder="Username" required autofocus>
        <input type="password" name="password" placeholder="Password" required autofocus>
          <button>Log In</button> 
        </div>
      </form>
 </section> 
</body>
</html>