<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Nelisa's Cash Store App</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.CSS"/>

<!-- Optional theme -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/css/main.css" rel="stylesheet" />

</head>

<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Nelisa's Cash Store</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="/">Products 
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href ="/products"> Products List</a></a></li>
            <li><a href ="/products/mostPopulerPrd"> Most Popular Product</a></a></li>
            <li><a href ="/products/leastPopulerPrd"> Least Popular Product </a></a></li> 
            <li><a href ="/products/EarningsPro">Earnings</a></a></li>
            <li><a href ="/products/Profits">Profits</a></li>
          </ul>
        </li>
       
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="/">Categories
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href ="/categories"> Categories list </a></a></li>
            <li><a href ="/categories/mostPopulerCat"> Most Popular Catagory </a></a></li>
            <li><a href ="/categories/leastPopulerCat">Least Popular Category </a></a></li> 
            <li><a href ="/categories/EarningsCateg">Category Earnings</a></a></li>
          </ul>
        </li>

       <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="/">Sales 
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href ="/Sales"> Sales list </a></a></li>
           
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="/">Purchases 
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href ="/purchases"> Purchases </a></a></li>
           
          </ul>
        </li>


        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="/">Suppliers 
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href ="/suppliers"> Suppliers </a></a></li>
           
          </ul>
        </li>

       <ul class="nav navbar-nav navbar-right">
        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>


      </ul>
    </div>
  </div>
</nav>

{{{body}}}





<!-- Latest compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<div class ="well">
  


<a href="/" class ="btn btn-primary"><span class="glyphicon glyphicon-home"></span> Back to home</a>


</div>  
</body>
</html> 
