<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Nelisa's Cash Store App</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="shortcut icon"  href ="/welcome_to_shop.jpg"/>
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
     <!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->

<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/css/main.css" rel="stylesheet" type="text/css"/>
<link href="/css/style.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script  type="text/javascript" src="typeahead.min.js"></script>

</head>


<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Nelisa's Cash Store</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/home">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="/">Products
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href ="/products"> Products List</a></a></li>
            <li><a href ="/products/mostPopulerPrd"> Most Popular Product</a></a></li>
            <li><a href ="/products/leastPopulerPrd"> Least Popular Product </a></a></li>
            <li><a href ="/products/EarningsPro">Earnings</a></a></li>
            <li><a href ="/products/Profits">Product Profits</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="/">Categories
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href ="/categories"> Categories list </a></a></li>
            <li><a href ="/categories/mostPopulerCat"> Most Popular Catagory </a></a></li>
            <li><a href ="/categories/leastPopulerCat">Least Popular Category </a></a></li>
            <li><a href ="/categories/EarningsCateg">Category Earnings</a></a></li>
          </ul>
        </li>

       <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="/">Sales
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href ="/Sales"> Sales list </a></a></li>
            </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="/">Purchases
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href ="/purchases"> Purchases </a></a></li>

          </ul>
        </li>


        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="/">Suppliers
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href ="/suppliers"> Suppliers </a></a></li>

          </ul>
        </li>

       <ul class="nav navbar-nav navbar-right">
       <li><a href ="/user">Users</a></a></li>
       <li><a href="/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>

     </ul>
      <li> <b> <font color="#99ffcc">Logged in as:{{Id}} {{user}} [{{role}}]</font></b>

    </div>
  </div>
</nav>

{{{body}}}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>
