<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Nelisa's Cash Store App</title>
    <!-- Latest compiled and minified CSS -->
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <!--  // <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
   // <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->


 <!--  <style>
 .add-on .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none; 
 border-color:#cccccc; 
}
.form-control{width:20%}
.navbar-nav > li > a {
  border-right: 1px solid #ddd;
  padding-bottom: 15px;
  padding-top: 15px;
}
.navbar-nav:last-child{ border-right:0}




  
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;

  }

 
  </style> -->








<!-- Optional theme -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/css/main.css" rel="stylesheet" type="text/css"/>
<link href="/css/style.css" rel="stylesheet" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script  type="text/javascript" src="typeahead.min.js"></script>
<!-- /*<script type="text/javascript">
$(document).ready(function(){
    $('input.typeahead').typeahead({
        name: 'countries',
        remote: 'http://localhost:3003/search?key=%QUERY',
        limit: 10
    });
});
</script>*/ -->

<!-- /*<style type="text/css">
.bs-example{
  font-family: sans-serif;
  position: relative;
  margin: 50px;
}
.typeahead, .tt-query, .tt-hint {
  border: 2px solid #CCCCCC;
  border-radius: 8px;
  font-size: 24px;
  height: 30px;
  line-height: 30px;
  outline: medium none;
  padding: 8px 12px;
  width: 396px;
}
.typeahead {
  background-color: #FFFFFF;
}
.typeahead:focus {
  border: 2px solid #0097CF;
}
.tt-query {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
  color: #999999;
}
.tt-dropdown-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 12px;
  padding: 8px 0;
  width: 422px;
}
.tt-suggestion {
  font-size: 24px;
  line-height: 24px;
  padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
  background-color: #0097CF;
  color: #FFFFFF;
}
.tt-suggestion p {
  margin: 0;
}
</style>*/
 -->
</head>


<body>





<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Nelisa's Cash Store</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/home">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="/">Products 
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href ="/products"> Products List</a></a></li>
            <li><a href ="/products/mostPopulerPrd"> Most Popular Product</a></a></li>
            <li><a href ="/products/leastPopulerPrd"> Least Popular Product </a></a></li> 
            <li><a href ="/products/EarningsPro">Earnings</a></a></li>
            <li><a href ="/products/Profits">Product Profits</a></li>
          </ul>
        </li>
       
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="/">Categories
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href ="/categories"> Categories list </a></a></li>
            <li><a href ="/categories/mostPopulerCat"> Most Popular Catagory </a></a></li>
            <li><a href ="/categories/leastPopulerCat">Least Popular Category </a></a></li> 
            <li><a href ="/categories/EarningsCateg">Category Earnings</a></a></li>
          </ul>
        </li>

       <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="/">Sales 
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href ="/Sales"> Sales list </a></a></li>
            

           
          </ul>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="/">Purchases 
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href ="/purchases"> Purchases </a></a></li>
           
          </ul>
        </li>


        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="/">Suppliers 
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href ="/suppliers"> Suppliers </a></a></li>
           
          </ul>
        </li>

       <ul class="nav navbar-nav navbar-right">
       <li><a href ="/user">Users</a></a></li>
       <li><a href="/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>




      </ul>
      <li> <b> <font color="#99ffcc">Logged in as:{{Id}} {{user}} [{{role}}]</font></b> <a href="/user/edit/" class ="btn btn-success"><span class="glyphicon glyphicon-edit"> </span> Edit</a></li>

    </div>
  </div>
</nav>


  

  







{{{body}}}

<!-- Latest compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</body>
</html> 
