<h2>Add Product</h2>

<form action="/products/add" method="POST">
	Description: <input type="text" name="product_name" value="{{product_name}}">
	{{#categories}}
	<select>
    <option value="{{category_id}}">{{category_name}}</option>
  
   </select>

{{/categories}}
	<input type="submit" class="btn btn-success" id="enter" onclick="myFunction()">  
</form>
