<DOCTYPE html>
<html>
<head>
<title>Sign Up</title>
<link rel="icon" type="image/png" href="./signup.jpg">
<style>

<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/css/main.css" rel="stylesheet" />


</style>
</head>
<body>
 <script type='text/javascript' src='main.js'></script> 

<!--Mixins//-->
<!--creates a two up button group-->
<!--creates a centered message in form-->
<!--creates a text input field-->
<!--creates a email input field-->
<!--creates a password input field-->
<!-- creates buttons-->
<!--build//-->
<!-- form acts as container-->
<div class="form">
    <div id="signup">
      <h1>Sign as Admin</h1>
      <form action="/admin_signup" method="post">
   
          <div class="field-wrap">
            <input type="text" required="required" autocomplete="off" name="username" placeholder="Username "/>
          </div>
     
        <div class="field-wrap">
          <input type="password" required="required" autocomplete="off" name="password" placeholder="Password "/>
        </div>
        <div class="field-wrap">
          <input type="password" required="required" autocomplete="off" name="key" placeholder="Key... "/>
        </div>
        <button type="submit" class="button button-block">Sign up Now</button>
        <a href="/"><button class="button button-block">Cancel</button></a>
      </form>
    </div>
  </div>

 </body>

</html>

