<style type="text/css"></style>

<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/css/main.css" rel="stylesheet" />
</style>
<div class="container">
  <div class="row">
    <div class="col-md-6">
    
          <form class="form-horizontal" action="\admin_signup" method="POST">
          <fieldset>
            <div id="legend">
              <legend class="">Register As Admin</legend>
            </div>
            <div class="control-group">
              <label class="control-label" for="username">Username</label>
              <div class="controls">
                <input type="text" id="username" name="username" placeholder="" class="form-control input-lg" required>
                <p class="help-block">Username can contain any letters or numbers, without spaces</p>
              </div>
            </div>
         
           <div class="control-group">
              <label class="control-label" for="password">Password</label>
              <div class="controls">
                <input type="password" id="password" name="password" placeholder="" class="form-control input-lg" required>
                <p class="help-block">Password should be at least 6 characters</p>
              </div>
            </div>
         
            <div class="control-group">
              <label class="control-label" for="password">Role</label>
              <div class="controls">
                <!-- <input type="password" id="password" name="role" placeholder="" class="form-control input-lg" required>
                <p class="help-block">Please confirm password</p>
              </div>
            </div> -->
         
            <div class="control-group">
              <!-- Button -->
              <div class="controls">
                <button class="btn btn-success">Register</button>
                <a href="/" class="btn btn-info" role="button">Back to login</a>
              </div>
            </div>
          </fieldset>
          
        </form>
    
    </div> 
  </div>
</div>



<!-- <style type="text/css"></style>

<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/css/main.css" rel="stylesheet" />
<link rel="stylesheet" href="css/style.css"/>
</style>


 <script type='text/javascript' src='main.js'></script> 


<div class="form">
    <div id="signup">
      <h1>Sign as Admin</h1>
      <form action="/admin_signup" method="post">
   
          <div class="field-wrap">
            <input type="text" required="required" autocomplete="off" name="username" placeholder="Username "/>
          </div>
     
        <div class="field-wrap">
          <input type="password" required="required" autocomplete="off" name="password" placeholder="Password "/>
        </div>
        <div class="field-wrap">
          <input type="password" required="required" autocomplete="off" name="key" placeholder="Key... "/>
        </div>
        <button type="submit" class="button button-block">Sign up Now</button>
        <a href="/"><button class="button button-block">Cancel</button></a>
      </form>
    </div>
  </div> -->

 



