<div id="All Profitables">
<table class="table">
	<tr>
                <th>Product Name</th>
                <th>Total Profit</th>
              
        </tr>
{{#profitable}}
        <tr>
        		<td>{{stock_item}}</td>
        		<td>{{profit}}</td> 
        </tr>
{{/profitable}}
</table>
<a class="btn btn-primary" href="/home" role="button">Back to Home</a>
