
        <tr>
            <th>Categories</th>
            <th class="text-center">Action</th>
        </tr>

{{#each products}}
            <tr>
                
                <td>{{category_name}}</td>
                <td class="text-center"><a class='btn btn-info btn-xs' href="/categories/edit/{{Id}}"><span class="glyphicon glyphicon-edit"></span> Edit</a> <a href="/categories/delete/{{Id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure?')"><span class="glyphicon glyphicon-remove"></span> Del</a></td>
            </tr>
            {{/each}}
 
