<h1>Categories</h1>
   <table class>
      <thead>   
         <th>category name</th>
          <th>quantity </th>
        </thead>
	{{#each category}}
		<tr>
			<td width="75%"><h3>{{@key}} </td width="30%" > <td> {{this}}</h3> </td>
		</tr>
	{{/each}}
</table>
<div class ="well">
  
    <a href="/home" class ="btn btn-primary"><span class="glyphicon glyphicon-home"></span> Back to home</a>

</div> 
