
<div id="All earnings">
<table class="table">
        <tr>
                <th>Product Name</th>
                <th>Total earnings</th>
              
        </tr>
{{#EarningsPerProd}}
        <tr>
                        <td>{{product_name}}</td>
                        <td>{{earningPerProduct}}</td> 
        </tr>
{{/EarningsPerProd}}
</table>
</div>