<div id="All earnings">
<table class="table">
        <tr>
                <th>Category Name</th>
                <th>Total earnings</th>
              
        </tr>
{{#EarningsPerCatego}}
        <tr>
                        <td>{{category_name}}</td>
                        <td>{{Total}}</td> 
        </tr>
{{/EarningsPerCatego}}
</table> 
<a class="btn btn-primary" href="/home" role="button">Back to Home</a>
