<h1>Edit Supplier</h1>
{{#data}}
<form action="/suppliers/update/{{Id}}" method = "POST">
	Supplier:<input type="text" name="Supplier_name" value="{{Supplier_name}}">
	<input type="submit" class="btn btn-success" id="enter" onclick="myFunction()">  
</form>
{{/data}}