<h1>Edit</h1>

{{#data}}
<form action="/products/update/{{Id}}" method="POST">
	Product: <input type="text" name="product_name" value="{{product_name}}">	
	
	<select name="Category_Id">
    {{#categories}}
     <option value="{{Id}}">{{category_name}}</option>
    {{/categories}}
   </select>

<input type="submit">
</form>
{{/data}}



