<h1>Edit Product</h1>

{{#data}}
<form action="/products/update/{{Id}}" method="POST">	
	Product: <input type="text" name="product_name" value="{{product_name}}">
{{/data}} 

	
	<select name="Category_Id">
      {{#category}}
     <option value="{{Category_Id}}">{{category_name}}</option>
       {{/category}}
    </select>
   

 <input type="submit">

 </form>



