<h1>Edit </h1>
{{#data}}
<form action="/categories/update/{{Id}}" method = "POST">
	Category:<input type="text" name="category_name" value="{{category_name}}">
	<input type="submit">
</form>
{{/data}}