<h2>Edit Product</h2>

{{#data}}
<form action="/products/update/{{Id}}" method="POST">	
	Product: <input type="text" name="product_name" value="{{product_name}}">
{{/data}} 

	
	<select name="Category_Id">
      {{#category}}
     <option value="{{Id}}">{{category_name}}</option>
       {{/category}}
    </select>
   

 <input type="submit" class="btn btn-success" id="enter" onclick="myFunction()">  

 </form>



