<div class="well">
<h1> Logged in as: {{user}} [{{role}}] <td><a href="/user/edit/{{Id}}" class ="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</a></td></h1>

</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12 text-center">
             <div id="carousel-example-generic" class="carousel slide">
                 <h2 class="brand-before">

                 <small>Welcome to</small>
                 </h2>Nelisa's Cash Store<div id="slide-container">
             </div>
       </div>
</div>

