<!--<h1>Example App: Home</h1>-->
<!--<div class = "container">
<div class="row"><div class="well"><h1>Nelisa Spaza: Home</h1></div></div>
</div>


<div class="container">
    <div class="row">
	     <div class="col-sm-6 col-md-3">
              <div class="well"><a href ="/sold"> Products List</a></div>
         </div>


         <div class="col-sm-2 col-md-3">
	          <div class="well"><a href ="/most"> Most Populer Product</a></div>
         </div>



        <div class="col-sm-2 col-md-3">
	          <div class="well"><a href ="/leastPopulerPrd"> Least Populer Product </a></div>
        </div>

        <div class="col-sm-2 col-md-3">
	         <div class="well"><a href ="/Categories"> Categories </a></div>
        </div>


        <div class="col-sm-2 col-md-3">
	         <div class="well"><a href ="/mostPopulerCategory"> Most Populer Catagory </a></div>
        </div>


        <div class="col-sm-2 col-md-3">
   	         <div class="well"><a href ="/leastPopulerCategory">Least Populer Category </a></div>

        </div>
   </div>    
</div>  