
<h2>Least Populer Product</h2>
<table class>
	{{#each products}}
		<tr>
			<td width="75%"><h3>{{@key}} </td width="30%" > <td> {{this}}</h3> </td>
		</tr>
	{{/each}}
</table>
<a class="btn btn-primary" href="/home" role="button">Back to Home</a>

