<h1>Least Populer Product</h1>
<table class ="table" id = "leastPopulerPrd">
	<tr>
     <th>Product Id</th>
     <th>Product Name</th>
     <th>Category Name</th>
     
   </tr>
{{#least}}
<tr>
  <th>{{Id}}</th>
  <th>{{product_name}}</th>
  <th>{{category_name}}</th>

</tr> 
{{/least}}
</table>