<h2>Least Populer Category</h2>
<table class ="table" id = "leastPopulerPrd">
	<tr>
     <th>Category Id</th>
     <th>Category Name</th>
     <th>Total Quantity</th>
     
   </tr>
{{#least}}
<tr>
  <th>{{Id}}</th>
  <th>{{category_name}}</th>
  <th>{{TotalQty}}</th>
</tr> 
{{/least}}
</table>
<a class="btn btn-primary" href="/home" role="button">Back to Home</a>
