<html>

<head>
  <title></title>
 <link href="/css/login.css" rel="stylesheet">
</head>

<body>
  <div id="logo"> 
 <h1><i>Nelisa's Cash Store</i></h1>
</div> 

 <section class="Nelisa-login">
  
  <form  method="post" action="/home">  
    <div id="fade-box">
      <input type="text" name="username" value="" placeholder="Username or Email" required autofocus>
      <input type="password" name="password" value="" placeholder="Password" required autofocus>	
        <p class="submit"><input type="submit" name="commit" value="Login"></p>
   <a href="signup"><strong>Dont Have Account??</strong>Sign Up</a> 
   </div>     
</form>
 </section>
</body>
</html>