<h1>Most Populer Category</h1>
<table class ="table" id = "mostPopulerCat">
	<tr>
     <th>Category Id</th>
     <th>Category Name</th>
     <th>Total Quantiy</th>
   </tr>
{{#most}}
<tr>
  <th>{{Id}}</th>
  <th>{{category_name}}</th>
  <th>{{TotalQty}}</th>

</tr> 
{{/most}}
</table>