<h1>Most Populer Product</h1>
<table class ="table" id = "mostPopulerPrd">
	<tr>
     <th>Product Id</th>
     <th>Product Name</th>
     <th>Category Name</th>
     
   </tr>
{{#most}}
<tr>
  <th>{{Id}}</th>
  <th>{{product_name}}</th>
  <th>{{Category_name}}</th>

</tr> 
{{/most}}
</table>