

<h1>Products Sold</h1>
    <table class>
       <thead>   
       <th>category name</th>
       <th>quantity </th>
	{{#each products}}
		<tr>
			<td width="75%"><h3>{{@key}} </td width="30%" > <td> {{this}}</h3> </td>
		</tr>
	{{/each}}
</table>



































