<table class="table">
	<tr>
                <th>product name</th>
                
                <th>profit</th>
              
        </tr>
{{#ProfitsProduct}}
        <tr>
        		<td>{{product_name}}</td>
        		
        		<td>{{profit}}</td> 
        <td><button><a href="/Profitables/edit/{{Id}}">Edit</a></button></td>
                <td><button><a href="/Profitables/delete/{{Id}}">Delete</a></button></td>
        </tr>
{{/ProfitsProduct}}
</table>
</div>