<table class="table">
	<tr>
                <th>Product Name</th>
                <th>Profits</th>
              
        </tr>
{{#ProfitsProduct}}
        <tr>
            <td>{{product_name}}</td>
            <td>{{profit}}</td> 
            {{#if ../Admin}}
            <td><button><a href="/Profitables/edit/{{Id}}">Edit</a></button></td>
            <td><button><a href="/Profitables/delete/{{Id}}">Delete</a></button></td>
            {{/if}}
        </tr>
{{/ProfitsProduct}}
</table>
</div>
<a class="btn btn-primary" href="/home" role="button">Back to Home</a>
