<!-- <html>
<head>
	<title></title>
	  
</head>
<body>
	<div id="logo"> <h1><i>Nelisa's Cash Store</i></h1> </div>
	 <section class="Nelisa-Signup">
    <div class="signup">
    
      <form method="post" action="/signup">
      	<div id="fade-box">
       <input type="text" name="username" value="" placeholder="Username or Email" required>
       <input type="password" name="password" value="" placeholder="Password" required>
       <input type="password" name="confirm_password" value="" placeholder=" confirm Password" required>
       <input type="submit" name="commit" value="signup">
        </div> 
        {{#users}}
        <tr>

                <td>{{username}}</td>
                <td><button><a href="/signup/edit/{{Id}}">Edit</a></button></td>
    
        </tr>

{{/users}}
</form>
    </div>    
    </div>
  </section>
</body>

</html> -->
<style type="text/css"></style>

<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/css/main.css" rel="stylesheet" />
</style>
<div class="container">
  <div class="row">
    <div class="col-md-6">
    
          <form class="form-horizontal" action="" method="POST">
          <fieldset>
            <div id="legend">
              <legend class="">Register</legend>
            </div>
            <div class="control-group">
              <label class="control-label" for="username">Username</label>
              <div class="controls">
                <input type="text" id="username" name="username" placeholder="" class="form-control input-lg" required>
                <p class="help-block">Username can contain any letters or numbers, without spaces</p>
              </div>
            </div>
         
            <!-- <div class="control-group">
              <label class="control-label" for="email">E-mail</label>
              <div class="controls">
                <input type="email" id="email" name="email" placeholder="" class="form-control input-lg">
                <p class="help-block">Please provide your E-mail</p>
              </div>
            </div> -->
         
            <div class="control-group">
              <label class="control-label" for="password">Password</label>
              <div class="controls">
                <input type="password" id="password" name="password" placeholder="" class="form-control input-lg" required>
                <p class="help-block">Password should be at least 6 characters</p>
              </div>
            </div>
         
            <div class="control-group">
              <label class="control-label" for="password_confirm">Password (Confirm)</label>
              <div class="controls">
                <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="form-control input-lg" required>
                <p class="help-block">Please confirm password</p>
              </div>
            </div>
         
            <div class="control-group">
              <!-- Button -->
              <div class="controls">
                <button class="btn btn-success">Register</button>
                <a href="/" class="btn btn-info" role="button">Back to login</a>
              </div>
            </div>
          </fieldset>
          <h2> OR sign up as <a href="admin_signup">Admin</a></h2>
        </form>
    
    </div> 
  </div>
</div>