
<style type="text/css"></style>

<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/css/main.css" rel="stylesheet" />
</style>
<div class="container">
  <div class="row">
    <div class="col-md-6">
    
          <form class="form-horizontal" action="/signup" method="POST">
          <fieldset>
            <div id="legend">
              <legend class="">Register</legend>
            </div>
            <div class="control-group">
              <label class="control-label" for="username">Username</label>
              <div class="controls">
                <input type="text" id="username" name="username" placeholder="" class="form-control input-lg" required>
                <p class="help-block">Username can contain any letters or numbers, without spaces</p>
              </div>
            </div>
         
           <div class="control-group">
              <label class="control-label" for="password">Password</label>
              <div class="controls">
                <input type="password" id="password" name="password" placeholder="" class="form-control input-lg" required>
                <p class="help-block">Password should be at least 6 characters</p>
              </div>
            </div>
         
            <div class="control-group">
              <label class="control-label" for="confirm_password">Password (Confirm)</label>
              <div class="controls">
                <input type="password" id="confirm_password" name="confirm_password" placeholder="" class="form-control input-lg" required>
                <p class="help-block">Please confirm password</p>
              </div>
            </div>
         
            <div class="control-group">
              <!-- Button -->
              <div class="controls">
                <button class="btn btn-success">Register</button>
                <a href="/" class="btn btn-info" role="button">Back to login</a>
              </div>
            </div>
          </fieldset>
         <!-- <h2> OR sign up as <a href="/admin_signup">Admin</a></h2>-->
        </form>
    
    </div> 
  </div>
</div>
// <script >
// var password = document.getElementById("password")
//   , confirm_password = document.getElementById("confirm_password");

// function validatePassword(){
//   if(password.value != confirm_password.value) {
//     confirm_password.setCustomValidity("Passwords Don't Match");
//   } else {
//     confirm_password.setCustomValidity('');
//   }
// }

// password.onchange = validatePassword;
// confirm_password.onkeyup = validatePassword;



// </script>
