<html>
<head>
	<title></title>
	  <link href="/css/signup.css" rel="stylesheet">
</head>
<body>
	<div id="logo"> <h1><i>Nelisa's Cash Store</i></h1> </div>
	 <section class="Nelisa-Signup">
    <div class="signup">
    
      <form method="post" action="/signup">
      	<div id="fade-box">
       <input type="text" name="username" value="" placeholder="Username or Email" required>
       <input type="password" name="password" value="" placeholder="Password" required>
       <input type="password" name="confirm_password" value="" placeholder=" confirm Password" required>
       <input type="submit" name="commit" value="signup">
        </div> 
        {{#users}}
        <tr>

                <td>{{username}}</td>
                <td><button><a href="/signup/edit/{{Id}}">Edit</a></button></td>
    
        </tr>

{{/users}}
</form>
    </div>    
    </div>
  </section>
</body>
</html>