

<!-- HTML for SEARCH BAR -->
<div id="tfheader">
    <form id="tfnewsearch" role="search" method="post" action="/suppliers/searchSuppliers">

    <input type="text" class="tftextinput " name="searchVar" placeholder="search ..." size="50" maxlength="120">
          
    <button type="submit" class="btn btn-primary btn-xs">search</button> 
         
    </form> 
  <div class="tfclear"></div>
</div>


<h2>Suppliers</h2>
<table class ="table" id = "suppliers">
  </tr>
       <th>Supplier Id</th>
       <th>Supplier Name</th>
  </tr>
{{#search_suppliers}}
<tr>
  <th>{{Id}}</th>
  <th>{{supplier_name}}</th>
  <td><a href="/suppliers/edit/{{Id}}" class ="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</a>
  </td>
  <td><a href="/suppliers/delete/{{Id}}" class="btn btn-danger">
     <span class="glyphicon glyphicon-remove"></span> Delete 
     </a>
   </td>
</tr>
{{/search_suppliers}}

<!-- {{#no_suppliers}}
  <p>No products available yet. Add some above.</p>
{{/no_suppliers}} -->

</table>

<a class="btn btn-primary" href="/home" role="button">Back to Home</a>

