
<h1> You are: {{user}} [{{role}}]</h1>
<h1>Edit :</h1>
{{#data}}
<form action="/user/update/{{Id}}" method="POST">
	Username: <input type="text" name="username" value="{{username}}">	
<input type="submit">

</form>
{{/data}}