<h1></h1>
{{Home}}
{{server}}

<div class="row">
<div class="box">
<div class="col-lg-12 text-center">
<div id="carousel-example-generic" class="carousel slide">
<h2 class="brand-before">
<small>Welcome to</small>
</h2>Nelisa Spaza Shop<div id="slide-container">

<div id="cssSlider">
  <div id="sliderImages">
		<img id="si_6" src="http://i.imgur.com/m9eUwgi.jpg?1" alt="Fruit"/>
		<img id="si_3" src="http://i.imgur.com/h0L8uVs.jpg?1" alt="Mixed Sweets"/>
		<img id="si_5" src="http://i.imgur.com/gPh5TW0.jpg?1" alt="Soup"/>
		<img id="si_4" src="http://i.imgur.com/loLNWd6.jpg?1"  alt="PlasticRose"/>
		<!--img id="si_2" src="http://imgur.com/scZ1sl4.jpg"  alt="Can"/-->
		<img id="si_1" src="http://i.imgur.com/d1FAwXd.jpg?1"  alt="cold"/>
		<div style="clear:left;" "height:60px;" "width:200px;"></div>


		

	</div>
</div>

</div>
</div>
</div>