<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

  
<div class="container">
  

  <div class="row">
    
    <div class="well well-lg">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#">Mobile Budget Plan</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Choose Mobile Provider<span class="caret"></span></a>
          <ul class="dropdown-menu">
           <!---<li><a href="#">MTN</a></li>-->
           <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">MTN<span class="caret"></span></a>
           <ul class="dropdown-menu">
            <li><a href="#">MTN Pay Per Second</a></li>
            <li><a href="#">MTN Zone Per Second</a></li>
              </ul>
        </li>
            <li><a href="#">Vodacom</a></li>
            <li><a href="#">Cell C</a></li>
            <li><a href="#">Virgin mobile</a></li>                        
          </ul>
        </li>
        <li><a href="#">Menu 2</a></li>
        <li><a href="#">Menu 3</a></li>
      </ul>
    </div>
    <div class="clearfix visible-lg"></div>
    <div class ="well">
<a href="#" class ="btn btn-primary">Back to home</a>
</div>
  </div>
</div>




</body>
</html>

