<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/docs.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   <style type="text/css">#h3{color: Blue}</style>
</head>
<body>

  
<nav class="top-bar" data-topbar="" style="">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">

      </li>
         <li class="toggle-topbar menu-icon"><a href="">Menu</a>
        </li>
  </ul>

  
<section class="top-bar-section" style="left: -300%;">
    <ul class="left">
      <li class="has-dropdown not-click moved"><a href="#">&#9776; Menu</a>

        <ul class="dropdown" style=""><li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li>
          <li><label>Level One</label></li>
          
          <li class="divider"></li>
          
          <li class="has-dropdown not-click moved"><a href="#">Choose Moblile Service </a>

            <ul class="dropdown" style=""><li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li>
              <li><label>Level Two</label></li>
              <li class="has-dropdown not-click moved"><a href="#">MTN</a>

                <ul class="dropdown" style=""><li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li>
                  <li><label>Level Three</label></li>
                  <li class="has-dropdown not-click"><a href="#">Plans</a>

                    <ul class="dropdown"><li class="title back js-generated"><h5><a href="javascript:void(0)">Back</a></h5></li>

                      <li><label>Level Four</label></li>
                      <li><a href="/mtn_plan1">MTN Pay Per Second</a>
                       <li><a href="plan1.html">MTN Zone Per Second</a>
                    </ul>
                  </li>
                  
                  <li class="divider"></li>
                <!--  <li><a href="#">Sub-item</a></li>-->
                </ul>
              </li>
              <li><a href="#">Vodacom</a></li>
              <li><a href="#">Cell C</a></li>
              <li><a href="#">Virgin Mobile</a>
            </li></ul>
          </li>
          <li><a href="#">More</a></li>
        </ul>
      </li>
      <li class="divider"></li>
    </ul>
   
  </section>
  <h3 id = "h3">Mobile Budget App</h3>
</nav>
<h2>Mobile Budget App</h2>

<div class ="well">
<a href="/" class ="btn btn-primary">Back to home</a>
</div>
<div id="main">{% block body %}{% endblock %}</div>
</body>
</html>







<!--<li><a href="#">MTN Pay Per Second</a>{% if MTN_Pay_Per_Second %}
              <hi style = "color: red;">Hello available Call/SMS/Data, {{MTN_Pay_Per_Second}}!</hi>
              {% else %}
              <hi> Not available!<hi>
              {% endif %}

            </li>
            <li><a href="#">MTN Zone Per Second</a>
            </li>
          </ul>
        </li>