<h1>Edit</h1>

{{#data}}
<form action="/products/update/{{product_id}}" method="POST">
	Description: <input type="text" name="product_name" value="{{product_name}}">	
	<input type="submit">
</form>
{{/data}}